/src/main/resources/
.idea/
nb-configuration.xml
*target*
*.jar
*.war
*.ear
*.class
*.iml

# eclipse specific git ignore
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
/src/main/webapp/META-INF/